#my_name_header {
	text-align: center;
	color: #a9a9a9;
	margin-top: 10%;
	margin-bottom: 2%;
	font-size: 600%;
	font-family: verdana;
}

div.main_link_div {
	text-align: center;
}

img.main_link_div {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	height: 3em;
	margin-left: 4%;
	margin-right: 4%;
	margin-bottom: 2%;
	margin-top: 2%;
}

img:hover.main_link_div {
	height: 4em;
}

a.main_link_div {
	outline: 0;
}