body {
	margin: 20px;
	background-color: #efefef;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

ul.horiz_menu {
	list-style-type: none;
	margin-top: 10px;
	padding: 0;
	background-color: #ffffff;
	border-radius: 20px;
	overflow: hidden;
	position: -webkit-sticky; /* Safari */
 	position: sticky;
 	top: 0;
}

li.horiz_menu {
	float: left;
}

a.horiz_menu {
	transition: all 0.5s ease;
	display: block;
	padding: 14px 16px;
	color: #a9a9a9;
	text-decoration: none;
	background-color: #ffffff;
}

a.active {
	transition: all 0.5s ease;
	display: block;
	padding: 14px 16px;
	color: #a9a9a9;
	text-decoration: none;
	background-color: #caebf2;
}

a:hover.horiz_menu {
	color: #ff3b3f;
	padding: 14px 20px;
}

a:hover.active {
	color: #ff3b3f;
	padding: 14px 24px;
}